name: Rust

on:
  push:
    branches: [ main, ci ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  linux:
    name: Linux
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Cache
      uses: Swatinem/rust-cache@v2
    - name: Lint
      run: cargo fmt -- --check
    - name: Clippy
      run: cargo clippy -- -D warnings
    - name: Build
      run: cargo build --release
    - name: Tests
      run: cargo test --release

  windows:
    name: Windows
    needs: linux
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Cache
        uses: Swatinem/rust-cache@v2
      - name: Tests
        run: cargo test --release

  macos:
    name: MacOS
    needs: linux
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Cache
        uses: Swatinem/rust-cache@v2
      - name: Tests
        run: cargo test --release
